# Dataframe

#### dataframe in pandas is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, or a dictionary of Series objects. DataFrames are widely used for data manipulation and analysis in Python.

In [2]:
import pandas as pd

In [3]:
pd.DataFrame({"Name": ["Alice", "Bob", "Charlie"],
              "Age": [25, 30, 35],})

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

### Built-In Functions

#### head(), shape(), describe(), tail()

In [4]:
iris=pd.read_csv("iris.csv")
iris.head() ## Display the first few rows of the DataFrame

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
iris.tail() ## Display the last few rows of the DataFrame

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [6]:
iris.shape ## Get the dimensions of the DataFrame

(150, 5)

In [7]:
iris.describe() ## Get summary statistics of the DataFrame

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### Extracting Individual rows and columns

In [9]:
iris.iloc[0]  ## First row

Sepal.Length       5.1
Sepal.Width        3.5
Petal.Length       1.4
Petal.Width        0.2
Species         setosa
Name: 0, dtype: object

In [10]:
iris.iloc[0:5, 0:2]  ## First five rows and first two columns

   Sepal.Length  Sepal.Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [14]:
iris.loc[0:5, ("Sepal.Length", "Sepal.Width")]
## First five rows and specific columns

   Sepal.Length  Sepal.Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9

### Dropping Rows and Columns

In [16]:
iris.drop(columns=["Species"], axis=1, inplace=True) 
## Drop the 'Species' column aixs=1 for columns, 
## inplace=True to modify the original DataFrame

In [17]:
iris.head() ## Display the first few rows after dropping the column

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [18]:
iris.drop([1,2,3], axis=0, inplace=True) 
## Drop rows with index 1, 2, and 3

In [20]:
iris.head() ## Display the first few rows after dropping the rows

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
4           5.0          3.6           1.4          0.2
5           5.4          3.9           1.7          0.4
6           4.6          3.4           1.4          0.3
7           5.0          3.4           1.5          0.2