## More Pandas Functions

In [6]:
import pandas as pd

In [10]:
iris = pd.read_csv("iris.csv")
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
iris.mean(numeric_only=True)
## Calculate the mean of each numeric column

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [ ]:
iris.median(numeric_only=True)
## Calculate the median of each numeric column

Sepal.Length    5.80
Sepal.Width     3.00
Petal.Length    4.35
Petal.Width     1.30
dtype: float64

In [13]:
iris.min(numeric_only=True)
## Calculate the minimum value of each numeric column

Sepal.Length    4.3
Sepal.Width     2.0
Petal.Length    1.0
Petal.Width     0.1
dtype: float64

In [14]:
iris.max(numeric_only=True)
## Calculate the maximum value of each numeric column

Sepal.Length    7.9
Sepal.Width     4.4
Petal.Length    6.9
Petal.Width     2.5
dtype: float64

### Applying User Defined Functions

In [15]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [16]:
def double_maker(x):
    return x * 2

In [17]:
iris[['Sepal.Width','Petal.Width']].apply(double_maker)

     Sepal.Width  Petal.Width
0            7.0          0.4
1            6.0          0.4
2            6.4          0.4
3            6.2          0.4
4            7.2          0.4
..           ...          ...
145          6.0          4.6
146          5.0          3.8
147          6.0          4.0
148          6.8          4.6
149          6.0          3.6

[150 rows x 2 columns]

In [18]:
iris['Species'].value_counts()
## Count the occurrences of each unique value in the 'Species' column

Species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [19]:
iris.sort_values(by='Sepal.Length')
## Sort the DataFrame by the 'Sepal.Length' column in ascending order

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
8             4.4          2.9           1.4          0.2     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]