# Pandas Series Object

##### series object in pandas is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively referred to as the index. A pandas Series can be created using various inputs such as lists, dictionaries, or scalar values.

### Series object from List

In [1]:
import pandas as pd

In [3]:
s1 = pd.Series([10, 20, 30, 40, 50])
print(s1)
print(type(s1))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

#### Changing Index

In [5]:
s1.index = ['a', 'b', 'c', 'd', 'e']
print(s1)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [7]:
s1 = pd.Series([10, 20, 30, 40, 50],
               index=['a', 'b', 'c', 'd', 'e'])
print(s1)

a    10
b    20
c    30
d    40
e    50
dtype: int64

### Series Object from dictionary

In [9]:
s1 = pd.Series({'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50})
print(s1)
print(type(s1))

a    10
b    20
c    30
d    40
e    50
dtype: int64
<class 'pandas.core.series.Series'>

#### changing Indices

In [10]:
s1.index = ['1', '2', '3', '4', '5']
print(s1)

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [13]:
s1 = pd.Series({'1': 'Delhi',
                '2': 'Washington DC',
                '3': 'London',
                '4': 'Paris',},
               index=['3', '4', 'UK', 'Germany'])
print(s1)
# we only can change the orders of existing indices not
#but using s1.index we can change to any values

3          London
4           Paris
UK            NaN
Germany       NaN
dtype: object

#### Extracting Individual Element

In [18]:
s1 = pd.Series([10, 20, 30, 40, 50])
print(s1[0])
print("from end \n" ,s1[-3:]) # from end
print("slicing\n ",s1[:3]) # slicing or extracting sequence of elements

10
from end
 2    30
3    40
4    50
dtype: int64
slicing
  0    10
1    20
2    30
dtype: int64

### Basic maths operations on Series

##### Adding a Scalar Value to elements

In [19]:
s1+= 5
print(s1)

0    15
1    25
2    35
3    45
4    55
dtype: int64

##### Adding two Series Objects

In [20]:
s1 = pd.Series([10, 20, 30, 40, 50])
s2 = pd.Series([5, 15, 25, 35, 45])
s3 = s1 + s2
print(s3)

0    15
1    35
2    55
3    75
4    95
dtype: int64